* {
  box-sizing: border-box;
}
.wrap {
  width: 95%;
  margin: 0 2.5%;
  min-height: 150vh;
}
.material-symbols-outlined {
  font-size: 5.5vh;
}
.container-xl > div {
  background-color: rgb(240, 248, 255);
  width: 100%;
  height: 100%;
  border: 5px solid #0d6efd;
}
h4 {
  font-weight: bold;
}
.container-xl {
  margin-top: 3.5vh;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  align-items: center;
  border-collapse: collapse;
  border: 10px solid #0d6efd;
}
.goals {
  grid-area: 1/1/2/3;
}
.team {
  grid-area: 1/3/2/4;
}
.scopes {
  grid-area: 2/1/3/3;
}
.primary {
  grid-area: 2/3/3/4;
}
.timeline {
  grid-area: 1/4/3/5;
}
h2 {
  color: #0d6efd;
  padding-bottom: 2.5vh;
}
.container > div > div:nth-child(2) div {
  text-align: justify;
  text-indent: 2vh;
}
.scopes .container > div > div > div {
  text-align: justify;
  text-indent: 2vh;
}
h1 {
  text-transform: uppercase;
}
.timeline .container > div {
  border-bottom: 2px dashed #0d6efd;
  padding-bottom: 2vh;
  text-indent: 0;
}
/* Màng hình nhỏ */
@media screen and (max-width: 991px) {
  .container-xl {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .wrap {
    min-height: 450vh;
  }

  .goals {
    order: 1;
  }
  .scopes {
    order: 2;
  }
  .scopes .d-flex {
    flex-direction: column;
  }
  .team {
    order: 3;
  }
  .primary {
    order: 4;
  }
  .timeline {
    order: 5;
  }

  .container:not(.container:last-child) {
    padding-bottom: 1.5vh;
  }
  .container > div {
    flex-direction: column;
  }

  .team .container > div > div:nth-child(2),
  .timeline .container > div > div {
    align-self: flex-start;
  }
}
